.weather-fact {
    display: flex;
    padding: 30px 20px;
}

.weather-fact__left {
    margin-right: 30px;
}

.weather-fact__name {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 15px;
    span {
        font-weight: 600;
    }
}

.weather-fact__temp {
    margin-bottom: 25px;
    font-size: 3rem;
}

.weather-fact__temp-feels {
    font-size: 1.5rem;
    margin-bottom: 15px;
    font-weight: 600;
}

.weather-fact__wet {
    font-weight: 400;
    font-size: 1.15rem;
}

.weather-fact__icon-text {
    font-size: 2rem;
}
