$first-color: #20232a;
$second-color: #61dafb;

.loader {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 15;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $first-color;
}

.loader-spin {
    border: 12px solid #ffffff; /* Light grey */
    border-top: 12px solid $second-color; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    display: inline-block;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
