.city-wrapper
    display: flex
    align-items: center
    justify-content: center
    height: calc(100vh - 217px)

.city
    width: 100%
    max-width: 1300px
    border-radius: 20px
    background: #fff
    margin: 0 auto
    overflow: hidden
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: auto
    grid-template-areas: "top top" "map days"
    box-shadow: 0 10px 35px 2px rgba(0, 0, 0, 0.1)
    &__top
        display: flex
        grid-area: top
        justify-content: space-between
        align-items: flex-start
        padding: 25px 30px 50px 30px
        background: url("../../assets/default.svg") no-repeat 0 / 100%
        background-color: rgb(36, 36, 36)
    &__name
        font-size: 3rem
        font-weight: 500
        color: #fff
        position: relative
        padding-bottom: 10px
        margin: 40px 80px 0 0
        &:after
            content: ""
            display: block
            width: 70%
            height: 3px
            border-radius: 10px
            position: absolute
            left: 15%
            bottom: 0
            background-color: #fff
    &__status
        font-size: 2rem
        font-weight: 300
        color: rgba(255, 255, 255, 0.603)
        margin: 0 0 30px
        text-align: center
    &__temps
        list-style: none
        padding: 0 0 0 20px
        margin: 0
        li
            display: inline-flex
            flex-direction: column
            align-items: center
            padding: 0 45px
            color: rgb(238, 238, 238)
            opacity: 0.8
            &:last-child
                border-left: 1px solid rgb(238, 238, 238)
    &__temp
        font-size: 5rem
        font-weight: 500
        margin: 40px 0 0px
        text-align: center
        padding-left: 15px
        color: #fff
    &__temps-label
        margin-bottom: 5px
        font-size: 1.2rem
    &__temps-temp
        font-size: 1.3rem
    &__map
        border-top: 1px solid rgb(230, 230, 230)
        border-right: 1px solid rgb(230, 230, 230)
        grid-area: map
    &__days
        grid-area: days
        border-top: 1px solid rgb(230, 230, 230)
        width: 100%

.go-back
    min-width: 100px
    height: 100px
    background-color: #fff
    border-radius: 50%
    display: inline-flex
    align-items: center
    justify-content: center
    margin: 0 30px 0 0
    transition: opacity 0.3s ease
    &:hover
        opacity: 0.8
    img
        max-width: 60px



