$basic-color: #ac00bf;
$hover-color: #dc00f5;

.search {
    display: flex;
    height: 40px;
}

.search__input {
    height: 100%;
    width: 300px;
    border: 0;
    padding: 15px;
    font-size: 1rem;
    border-radius: 7px 0 0 7px;
    &:focus {
        outline: none;
    }
}

.search__btn {
    height: 100%;
    border: 0;
    min-width: 100px;
    cursor: pointer;
    background-color: $basic-color;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.3s ease;
    &:focus {
        outline: none;
    }
    &:hover {
        background-color: $hover-color;
    }
}
